<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Visual Finance</title>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="photos.css">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="finance.js"></script>
<script type="text/javascript" src="/messages/faye-browser.js"></script>
</head>
<body>
	<div class="title" style="padding-top:200px;padding-left:80px;">
    	Visual Finance v1.0<br />by @tiepologian
        <form style="margin-top:30px;" action="#" id="search-form">
    	<input id="search" class="search-field" type="search" title="Search for:" name="s" value="" placeholder="Search">
        </form>
	</div>   
    <ul id="notes-ul"></ul>
</body>
</html>
